<div class="centered-content">
  <div class="modal-box" *ngIf="loadData === 1">
    <h1 class="title">
        Ubah Kegiatan
    </h1>
    <input #taskTitleInput type="text" [value]="valTitle" class="input has-background-light is-medium mb-2" placeholder="Nama Kegiatan...">
    <input #taskTanggalInput type="text" [value]="valTanggal | date:'dd MMMM YYYY' "  onfocus="(this.type='date')"
    onblur="(this.type='text')" class="input has-background-light is-medium mb-2" id="activity-date"
      placeholder="Tanggal...">
    <input #taskWaktuMulaiInput type="time" [value]="valWaktuMulai" class="input has-background-light is-medium mb-2" id="activity-start-time"
      placeholder="Waktu Mula
      i...">
    <input #taskWaktuSelesaiInput type="time" [value]="valWaktuSelesai" class="input has-background-light is-medium" id="activity-end-time"
      placeholder="Waktu Selesai...">
    <br> <br />
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Batal</button>
      <button class="button is-primary hast-text-white is-medium"
      [disabled]="loadBtn === 0" (click)="updateTask(taskTitleInput.value, taskTanggalInput.value, taskWaktuMulaiInput.value, taskWaktuSelesaiInput.value)">
        <div *ngIf="loadBtn === 1">Simpan</div> 
        <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
      </button>
    </div>
  </div>
  <div class="lds-ripple2" *ngIf="loadData === 0"><div></div><div></div></div>

</div>