<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Ubah Time Sheet Kapal
        </h1>
                <input #listTitleInput type="text" [value]="valTitle" class="input has-background-light is-medium" placeholder="Nama Kapal / BG...">
                <input #namaKapalInput type="text" [value]="valNama" class="input has-background-light is-medium mb-2" placeholder="Nama Kapal Bongkar...">
                <input #jumlahMuatanInput type="number" [value]="valJumlahMuatan" class="input has-background-light is-medium mb-2" placeholder="Jumlah Muatan...">
                <br> <br/>
                <div class="buttons is-right">
                    <button class="button is-medium" routerLink="/">Batal</button>
                    <button class="button is-primary hast-text-white is-medium" (click)="updateKapal(listTitleInput.value, namaKapalInput.value, jumlahMuatanInput.valueAsNumber)">Simpan</button>
                </div>
    </div>
</div>