<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Buat Kegiatan Baru
        </h1>
                <input #taskTitleInput type="text" class="input has-background-light is-medium mb-2" placeholder="Nama Kegiatan...">
                <input #taskTanggalInput type="date" class="input has-background-light is-medium mb-2" id="activity-date" placeholder="Tanggal...">
                <input #taskWaktuMulaiInput type="time" class="input has-background-light is-medium mb-2" id="activity-start-time" placeholder="Waktu Mulai...">
                <input #taskWaktuSelesaiInput type="time" class="input has-background-light is-medium" id="activity-end-time" placeholder="Waktu Selesai...">
                <br>
                <br>
                <div class="buttons is-right">
                    <button class="button is-medium" routerLink="/">Cancel</button>
                    <button [disabled]="loadBtn === 0" class="button is-primary hast-text-white is-medium" (click)="createTask(taskTitleInput.value, taskTanggalInput.value, taskWaktuMulaiInput.value, taskWaktuSelesaiInput.value)">
                        <div *ngIf="loadBtn === 1">Simpan</div> 
                        <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
                    </button>
                </div>
    </div>
</div>