<div>
  <button class="button button-bars" aria-haspopup="true" aria-controls="dropdown-menu4" (click)="openNav()">                           
    <span class="icon is-small">
      <i class="fas fa-bars" aria-hidden="true"></i>
    </span>
  </button>
</div>
<div id="main" class="centered-content">
    <div class="task-manager-container">
            <div class="sidebar has-background-white">
                <h1 class="title has-text-primary">
                    DAFTAR KAPAL
                </h1>
                <div class="lds-facebook" *ngIf="load2 === 0"><div></div><div></div></div>
                <div class="list-menu">
                    <a href="" class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" (click)="removePush(list._id)" routerLinkActive="is-active">
                        <p>{{list.title}}</p>
                    </a>
                   
                </div>
                
                <button class="button is-primary has-text-white" routerLink="/new-list">+ Tambah</button>
                <button class="button is-success has-text-white mt-2" (click)="profile()"> <i class="fas fa-user mr-2" aria-hidden="true"></i> {{users.nahkoda}}</button>
                <button class="button is-danger has-text-white mt-2" (click)="logout()">Log Out</button>
                <div>
                  <p class="has-text-primary has-text-centered mt-2">Web version {{webVersion}}</p>
                </div>
            </div>

            <div class="task-list-container has-background-light" *ngIf="showProfile === 0">
                <div class="container-task" *ngIf="tasks">
                    <div class="top-bar has-background-light">
                        <h1 class="title has-text-primary">
                            DAFTAR KEGIATAN
                        </h1>
                        <div class="dropdown is-hoverable is-right">
                            <div class="dropdown-trigger">
                              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                               
                                <span class="icon is-small">
                                  <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                              </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                                <div class="dropdown-content">
                                  <a (click)="downloadReport()" class="dropdown-item">
                                    Download PDF
                                  </a>
                                  <a [routerLink]="['/edit-list', selectedListId]" class="dropdown-item">
                                    Ubah
                                  </a>
                                  <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger">
                                    Hapus
                                  </a>
                                </div>
                              </div>
                          </div>
                    </div>
                    <!-- Task Elements -->
                    <div class="task" *ngFor="let task of tasks">
                        <div class="media-content">
                          <p class=" title is-size-5">{{ task.title }}</p>
                          <p class=" is-size-6">{{ task.tanggal | date:'dd MMMM YYYY' }}</p>
                          <p class=" is-size-6">Pukul {{ task.waktuMulai }} - {{ task.waktuSelesai }} WITA</p>
                        </div>
                        <div class="task-buttons">
              
                          <button class="button btn-edit" [routerLink]="['/lists', selectedListId, 'edit-task', task._id]">
                            <div class="icon">
                              <i class="fas fa-edit"></i>
                            </div>
                          </button>
              
                          <button class="button is-danger btn-delete" [disabled]="loadBtn === 0" (click)="onDeleteTaskClick(task._id)">
                            <div class="icon" *ngIf="loadBtn === 1">
                              <i class="fas fa-trash"></i>
                            </div>
                            <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
                          </button>
              
                        </div>
                      </div>
                      <div class="lds-ripple" *ngIf="load === 0"><div></div><div></div></div>
                    <h3 class="empty-text-state" *ngIf="tasks.length === 0">Belum ada kegiatan yang dimasukkan! Silahkan tekan tombol tambah!</h3>
                </div>

                <button class="circle-add-button button is-primary"  routerLink="./new-task">
                  <span class="icon">
                      <i class='fa fa-plus'></i>
                    </span>
              </button>

                <div *ngIf="!tasks">
                    <h3 class="empty-text-state">Silahkan pilih daftar kapal untuk melihat kegiatan per-kapal</h3>
                </div>
            </div>

            <!-- DATA PROFILE -->
            <div class="task-list-container has-background-light" *ngIf="showProfile === 1">
              <div class="container-task">
                <div class="top-bar has-background-light mb-4">
                    <h1 class="title has-text-primary">
                        PROFILE USER
                    </h1>
                  
                </div>
                    <div>
                      <label class="mb-1" for="">Nahkoda</label>
                      <input readonly #nahkodaInput type="text" [value]="users.nahkoda" class="input has-background-light is-medium mb-3" placeholder="Nama nahkoda..">
                    </div>
                    <div>
                      <label class="mb-1" for="">Jumlah Kru</label>
                      <textarea readonly #jumlahKruInput type="number" [value]="users.jumlahKru" class="input has-background-light is-medium mb-3" placeholder="Jumlah Kru.."></textarea>
                    </div>
                    <div>
                      <label class="mb-1" for="">Nama Anggota Kru</label>                 
                      <input readonly #kruInput type="text" [value]="users.kru" class="input has-background-light is-medium mb-3" placeholder="Nama Anggota..">
                    </div>
                    <div>
                      <label class="mb-1" for="">Email</label>
                      <input readonly #emailInput type="email" [value]="users.email" class="input has-background-light is-medium mb-3" placeholder="Email..">
                    </div>
 
                  <div class="lds-ripple" *ngIf="loadProfile === 0"><div></div><div></div></div>
            </div>

            </div>
    </div>
</div>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a class="title-sidemenu has-text-primary">DAFTAR KAPAL</a>

  <div class="lds-facebook" *ngIf="load2 === 0"><div></div><div></div></div>
  <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" (click)="removePush(list._id)" routerLinkActive="is-active">{{list.title}}</a>
  <div class="sidemenu-footer">
    <div>
      <button class="button w is-primary has-text-white mb-2 is-fullwidth" routerLink="/new-list">+ Tambah</button>
    </div>
    <div>
      <button class="button is-success has-text-white mb-2 is-fullwidth" (click)="profile()"> <i class="fas fa-user mr-2" aria-hidden="true"></i> {{users.nahkoda}}</button>
    </div>
    <div>
      <button class="button is-danger has-text-white is-fullwidth" (click)="logout()">Log Out</button>
    </div>
    <div>
      <p class="has-text-primary has-text-centered mt-2">Web version {{webVersion}}</p>
    </div>
  </div>
</div>