<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Buat Time Sheet Kapal Baru
        </h1>
        <input #listTitleInput type="text" class="input has-background-light is-medium mb-2" placeholder="Nama Kapal / BG...">
        <input #namaKapalInput type="text" class="input has-background-light is-medium mb-2" placeholder="Nama Kapal Bongkar...">
        <input #jumlahMuatanInput type="number" class="input has-background-light is-medium mb-2" placeholder="Jumlah Muatan...">
                <br> <br/>
                <div class="buttons is-right">
                    <button class="button is-medium" routerLink="/">Batal</button>
                    <button [disabled]="loadBtn === 0" class="button is-primary hast-text-white is-medium" (click)="createKapal(listTitleInput.value, namaKapalInput.value, jumlahMuatanInput.valueAsNumber)">
                        <div *ngIf="loadBtn === 1">Simpan</div> 
                        <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
                    </button>
                </div>
    </div>
</div>