<div class="centered-content">
    <p class="title-apps">Sistem Informasi Pencatatan Laporan Kegiatan Perjalanan Kapal Berbasis Web Pada PT. TANAIR PRATAMA NUSANTARA Samarinda</p>
    <div class="white-box">
        <h1 class="title has-text-primary">Login</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #emailInput class="input has-background-light" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>

            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #pwInput class="input has-background-light" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field" style="display: flex; justify-content: flex-end;">
            <p class="control">
              <button [disabled]="loadBtn === 0" class="button is-success has-text-white" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
                <div *ngIf="loadBtn === 1">Login</div> 
                <i class="fa fa-spinner fa-spin" *ngIf="loadBtn === 0"></i>
              </button>
            </p>
          </div>
      
          <br>
      
          <p class="has-text-grey">belum punya akun? <a routerLink="/signup">Daftar</a> sekarang!</p>
      
    </div>
</div>